$background_color: white;
$layout_margins: 0px auto;
$max_width: 100%;
$min_width: 360px;
$media_max_width: 40%;
$min_height: 93vh;
$padding: 20px;

.content-layout {
  background-color: $background_color;
  margin: $layout_margins;
  max-width: $max_width;
  min-width: $min_width;
  min-height: $min_height;
  padding: $padding;
  .dashboard-options {
    min-height: 71.5vh;
    .dashboard-option-item {
      max-width: 40%;
      height: 25vh;
      border-radius: 10px;
      border-color: white;
      border-style: solid;
      border-width: 2px;
      background-color: #1890ff;
      .dashboard-options-title {
        margin-top: 6vh;
      }
      .dashboard-options-title,
      .dashboard-options-description {
        color: white;
        text-align: center;
      }
    }
  }
  .dashboard-option-item:hover {
    border-color: rgba(14, 12, 12, 0.377);
  }
}
